[alias]
	c = clone
	s = status -sb
	cm = commit
	dv = difftool -t vimdiff -y
	gl = config --global --list
	se = !git rev-list --all | xargs git grep -F
	st = !git pull && git s && git br
	br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
	last = log -1 HEAD --stat
	pop = stash pop
	save = stash push
	undo = reset HEAD~1
	aliases = !git gl | grep "alias" | sed "s/^alias.//g"
[core]
	editor = vim
[helper]
	autocorrect = 20
[credential]
	helper = cache --timeout=420
