@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --backgroundColor: #151A28;
    --greenEVA: #52d053;
    --purpleEVA: #765898;
    --orangeEVA: #e6770b;
    --redEVA: #d3290f;
}

/* To reset all elements */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Make the scroll bar a little more thick */
*::-webkit-scrollbar {
    width: 7px;
}

/* Make the background of the scroll bar vanish */
*::-webkit-scrollbar-track {
    background: transparent;
}

/* Change scrollbar collor and make the top and bottom rounded */
*::-webkit-scrollbar-thumb {
    background-color: var(--orangeEVA);
    border-radius: 21px;
}

/* Change the letter collor when selected text and make the background of the selection vanish */
*::selection {
    color: var(--redEVA);
    background-color: transparent;
}